@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../node_modules/@fontsource/roboto/300.css';
@import '../../node_modules/@fontsource/roboto/400.css';
@import '../../node_modules/@fontsource/roboto/500.css';
@import '../../node_modules/@fontsource/roboto/700.css';
@import '../../node_modules/@fontsource/syncopate/400.css';
@import '../../node_modules/@fontsource/syncopate/700.css';

@import 'blog';
@import 'projects';

$header-link-color: #333;
$header-link-active-color: rgb(250, 183, 58);

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1080px;
}

img {
  max-width: 100%;
}

header {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  display: flex;

  img {
    height: 35px;
    justify-self: first;
  }

  ul.nav {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin-left: auto;
    align-content: center;
    align-items: stretch;
    justify-content: flex-end;

    li {
      margin-left: 1rem;

      a {
        color: $header-link-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &.active {
          color: $header-link-active-color;
          cursor: default;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media print {
  header {
    display: none;
  }
}

.home {
  .bio {
    font-size: 1.25rem;
    font-weight: 200;
    text-align: center;
  }

  p {
    margin: 2rem auto;
    max-width: 640px;

    a {
      font-weight: 500;
    }

    strong {
      font-size: 1.4rem;
      margin: 0.8rem;

      &:nth-child(1) {
        color: green;
      }

      &:nth-child(3) {
        color: purple;
      }

      &:nth-child(6) {
        color: orange;
      }

      &:nth-child(8) {
        color: hotpink;
      }

      &:nth-child(9) {
        color: goldenrod;
      }

      &:nth-child(10) {
        color: fuchsia;
      }
    }
  }

  img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
}

.blog {
  position: relative;
  top: 50%;
  text-align: center;
}

.blog-post {
  font-family: 'Montserrat';
  margin: 2rem auto;

  h1 {
    text-align: center;
  }
}
